<!DOCTYPE html>
<html lang="vn">
  <head>
    <title>BK HUST &mdash; Colorlib Website Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
    
    
    
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  
    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
    
    <%- include('topBar.ejs') %>
    
    <div class="site-blocks-cover overlay" style="background-image: url(images/hero_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade">
              <span class="caption mb-3">Khách sạn BKHust &amp; Khu nghỉ dưỡng</span>
              <h1 class="mb-4">Về chúng tôi</h1>
            </div>
          </div>
        </div>
      </div>  

    
    <div class="site-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 mb-5 mb-md-0">
            
              <div class="img-border">
                <a href="https://vimeo.com/28959265" class="popup-vimeo image-play">
                  <span class="icon-wrap">
                    <span class="icon icon-play"></span>
                  </span>
                  <img src="images/img_2.jpg" alt="" class="img-fluid">
                </a>
              </div>

              <img src="images/img_1.jpg" alt="Image" class="img-fluid image-absolute">
            
          </div>
          <div class="col-md-5 ml-auto">
            

            <div class="section-heading text-left">
              <h2 class="mb-5">Thông tin khách sạn</h2>
            </div>
            <p class="mb-4">Cách Hà Nội 40km về phía Nam, khu du lịch khách sạn BKHust(đường Lý Thường Kiệt, thị xã Từ Sơn, tỉnh Bắc Ninh) do Công ty Đầu tư và Du lịch Hải Tiến phát triển với hệ thống các khách sạn sang trọng, du khách được hòa mình và trải nghiệm một không gian nghỉ dưỡng lý tưởng.<br>Tọa lạc trên diện tích 27ha cạnh bờ biển, với không gian trải dài 1,2km xanh trong, khu du lịch sinh thái BKHust - Hải Tiến mang lại nhiều sự lựa chọn cho du khách.<br>Được đầu tư xây dựng cách đây hơn 5 năm, khu du lịch khách sạn BK Hust đang khai thác gồm 3 tòa nhà khách sạn tiêu chuẩn 3 sao, với hơn 400 phòng nghỉ đẹp hướng biển và 30 phòng VIP lớn. Phòng hội thảo sức chứa 300 người được trang bị đầy đủ đầy đủ hệ thống âm thanh, máy chiếu, TV, wifi. Ngoài khách sạn, khu du lịch biển BKHust còn có những căn biệt thự đạt chuẩn, được xây dựng riêng biệt dành cho du khách có một không gian riêng tư hoặc quây quần bên gia đình và bạn bè như trong nhà mình. Năm 2015, khu du lịch BKHust - Hải Tiến khai trương thêm khách sạn mang thương hiệu BKHust III với gần 200 phòng và các dịch vụ giải trí như phòng tập gym, bể bơi rộng gần 400m2, với hệ thống nhân viên được đào tạo bài bản sẽ mang đến cho lại du khách cảm giác hài lòng và sự chuyên nghiệp trong từng sản phẩm và dịch vụ.<br>Một không gian đặc biệt khác tại đây là khu khách sạn vườn Thảo Linh - không gian mang tính chất vừa cổ điển, vừa hiện đại rất thích hợp với việc nghỉ dưỡng theo mô hình nhà sàn. Tại vườn Thảo Linh có 5 nhà sàn, mỗi nhà sàn rộng hơn 200m2, hệ thống phòng nghỉ tại đây có 28 phòng, với 16 phòng nghỉ (Superior & Deluxe) bên trong nhà sàn và 12 phòng nghỉ (Standard) trong khu nhà 2 tầng có đầy đủ trang thiết bị hiện đại, đồng bộ, café sân vườn.
 
Với tấm lòng mến khách, khu du lịch khách sạn BKHust đã đón và phục vụ hàng trăm nghìn du khách. Những ai một lần đến BKHust – Hải Tiến hẳn sẽ còn nhớ mãi hình ảnh một nơi đơn sơ mà gần gũi, những món ẩm thực tươi ngon, thắm đậm tình quê hương xứ Bắc.</p>
            <p><a href="https://vimeo.com/28959265" class="popup-vimeo text-uppercase">Watch Video <span class="icon-arrow-right small"></span></a></p>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="mb-5">Nhân viên khách sạn</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-4 thumbnail"><img src="images/giamdoc.jpg" width="1175" height="835" alt="Image" class="img-fluid"></a>
              <div class="p-4">
                <h3 class="heading mb-3"><a href="#">Lê Kim Ngân</a></h3>
                <p>Giám đốc khách sạn<br>Email:lekimngan@gmail.com<br>Điện thoại:(+84)918273645</br></p>
                <p><a href="#" class="text-primary">Đọc thêm <span class="icon-arrow-right small"></span></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-4 thumbnail"><img src="images/quanly.jpg" width="100%" height="100%" alt="Image" class="img-fluid"></a>
              <div class="p-4">
                <h3 class="heading mb-3"><a href="#">Nguyễn Hữu Sơn</a></h3>
                <p>Quản lý khách sạn<br>Email: nguyenhuuson@gmail.com<br>Điện Thoại:(+84)987556111</p>
                <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-4 thumbnail"><img src="images/kế toán.jpg" width="100%" height="500" alt="Image" class="img-fluid"></a>
              <div class="p-4">
                <h3 class="heading mb-3"><a href="#">Lê Thị Huyền Trang</a></h3>
                <p>Kế toán khách sạn<br>Email:nguyenhuyentrang@gmail.com<br>Điện thoại:(+84)334777123</p>
                <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-4 thumbnail"><img src="images/person_1.jpg" width="100%" height="auto" alt="Image" class="img-fluid"></a>
              <div class="p-4">
                <h3 class="heading mb-3"><a href="#">Lê Thị Hải Yến</a></h3>
                <p>Nhân viên lễ tân<br>Email: nguyenhaiyen@gmail.com<br>Điện thoại:(+84)223134689<br>Kinh nghiệm làm việc: 2 năm</p>
                <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-4 thumbnail"><img src="images/nvlt1.jpg" width="100%" height="auto" alt="Image" class="img-fluid"></a>
              <div class="p-4">
                <h3 class="heading mb-3"><a href="#">Nguyễn Tùng Lâm</a></h3>
                <p>Nhân viên lễ tân<br>Email: nguyentunglam@gmail.com<br>Điện thoại:(+84)923534680<br>Kinh nghiệm làm việc: 2 năm</p>
                <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-4 thumbnail"><img src="images/nvlt6.jpg" width="100%" height="auto" alt="Image" class="img-fluid"></a>
              <div class="p-4">
                <h3 class="heading mb-3"><a href="#">Nguyễn Thị Hoa</a></h3>
                <p>Nhân viên lễ tân<br>Email: nguyenthihoa@gmail.com<br>Điện thoại:(+84)323634789<br>Kinh nghiệm làm việc: 2 năm</p>
                <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-4 thumbnail"><img src="images/nvlt7.jpg" width="100%" height="auto" alt="Image" class="img-fluid"></a>
              <div class="p-4">
                <h3 class="heading mb-3"><a href="#">Nguyễn Ngọc Ánh</a></h3>
                <p>Nhân viên lễ tân<br>Email: nguyenngocanh@gmail.com<br>Điện thoại:(+84)823134121<br>Kinh nghiệm làm việc: 2 năm</p>
                <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-4 thumbnail"><img src="images/nvlt2.jpg" width="100%" height="auto" alt="Image" class="img-fluid"></a>
              <div class="p-4">
              <h3 class="heading mb-3"><a href="#">Quách Văn Thành</a></h3>
              <p>Nhân viên lễ tân<br>Email: quachthanh@gmail.com<br>Điện thoại:(+84)923134646<br>Kinh nghiệm làm việc: 2 năm</p>
              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-4 thumbnail"><img src="images/nvlt3.jpg" width="100%" height="auto" alt="Image" class="img-fluid"></a>
              <div class="p-4">
              <h3 class="heading mb-3"><a href="#">Nguyễn Hữu Đạt</a></h3>
              <p>Nhân viên lễ tân<br>Email: nguyenhuudat@gmail.com<br>Điện thoại:(+84)823134580<br>Kinh nghiệm làm việc: 2 năm</p>
              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-4 thumbnail"><img src="images/nvlt9.jpg" width="100%" height="auto" alt="Image" class="img-fluid"></a>
              <div class="p-4">
              <h3 class="heading mb-3"><a href="#">Nguyễn Kiều Linh</a></h3>
              <p>Nhân viên lễ tân<br>Email: nguyenkieulinh@gmail.com<br>Điện thoại:(+84)823134333<br>Kinh nghiệm làm việc: 2 năm</p>
              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-4 thumbnail"><img src="images/nvlt4.jpg" width="100%" height="auto" alt="Image" class="img-fluid"></a>
              <div class="p-4">
              <h3 class="heading mb-3"><a href="#">Lê Văn Đạt</a></h3>
              <p>Nhân viên lễ tân<br>Email: levandat@gmail.com<br>Điện thoại:(+84)823134111<br>Kinh nghiệm làm việc: 2 năm</p>
              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-4 thumbnail"><img src="images/nvlt7.jpg" width="100%" height="auto" alt="Image" class="img-fluid"></a>
              <div class="p-4">
              <h3 class="heading mb-3"><a href="#">Nguyễn Thùy Chi</a></h3>
              <p>Nhân viên lễ tân<br>Email: nguyenthuychi@gmail.com<br>Điện thoại:(+84)82313989<br>Kinh nghiệm làm việc: 2 năm</p>
              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="py-5 upcoming-events" style="background-image: url('images/hero_1.jpg'); background-attachment: fixed;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <h2 class="text-white">Summer Promo 50% Off</h2>
            <a href="#" class="text-white btn btn-outline-warning rounded-0 text-uppercase">Avail Now</a>
          </div>
          <div class="col-md-6">
            <span class="caption">The Promo will start in</span>
            <div id="date-countdown"></div>    
          </div>
        </div>
        
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="mb-5">TÍNH NĂNG HIỆN CÓ</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-pool display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Hồ bơi</h2>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-desk display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Gọi thức ăn nhanh</h2>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-exit display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Thoát hiểm an toàn</h2>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-parking display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Bãi đổ xe</h2>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-hair-dryer display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Tạo mẫu tóc</h2>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-minibar display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Quầy bar</h2>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-drink display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Thức uống</h2>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-cab display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Thuê ô tô</h2>
            </div>
          </div>


          

          

          

        </div>
      </div>
    </div>


    <div class="site-section border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="mb-5">Phòng còn trống</h2>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-md-6 col-lg-3">
            <a href="images/img_1.jpg" class="image-popup img-opacity"><img src="images/img_1.jpg" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-md-6 col-lg-3">
            <a href="images/img_2.jpg" class="image-popup img-opacity"><img src="images/img_2.jpg" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-md-6 col-lg-3">
            <a href="images/img_3.jpg" class="image-popup img-opacity"><img src="images/img_3.jpg" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-md-6 col-lg-3">
            <a href="images/img_4.jpg" class="image-popup img-opacity"><img src="images/img_4.jpg" alt="Image" class="img-fluid"></a>
          </div>

          <div class="col-md-6 col-lg-3">
            <a href="images/img_4.jpg" class="image-popup img-opacity"><img src="images/img_4.jpg" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-md-6 col-lg-3">
            <a href="images/img_5.jpg" class="image-popup img-opacity"><img src="images/img_5.jpg" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-md-6 col-lg-3">
            <a href="images/img_6.jpg" class="image-popup img-opacity"><img src="images/img_6.jpg" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-md-6 col-lg-3">
            <a href="images/img_7.jpg" class="image-popup img-opacity"><img src="images/img_7.jpg" alt="Image" class="img-fluid"></a>
          </div>

        </div>
      </div>
    </div>
    <%- include('footer.ejs') %>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/aos.js"></script>

  
  <script src="js/mediaelement-and-player.min.js"></script>

  <script src="js/main.js"></script>
    

  <script>
      document.addEventListener('DOMContentLoaded', function() {
                var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;

                for (var i = 0; i < total; i++) {
                    new MediaElementPlayer(mediaElements[i], {
                        pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                        shimScriptAccess: 'always',
                        success: function () {
                            var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
                            for (var j = 0; j < targetTotal; j++) {
                                target[j].style.visibility = 'visible';
                            }
                  }
                });
                }
            });
    </script>

  </body>
</html>