<!DOCTYPE html>
<html lang="vn">
  <head>
    <title>BK HUST &mdash; Colorlib Website Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
    
    
    
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  
    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    <%- include('topBar.ejs') %>
    
    <div class="site-blocks-cover overlay" style="background-image: url(images/hero_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade">
              <span class="caption mb-3">Trải nghiệm sự mới lạ cùng BKHust</span>
              <h1 class="mb-4">Các dịch vụ hấp dẫn và ưu đãi</h1>
            </div>
          </div>
        </div>
      </div>  

    
    <div class="site-section">
      <div class="container">
      <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="mb-5">Các loại dịch vụ</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="media-with-text">
              <div class="img-border-sm mb-4">
                <a href="#" class="popup-vimeo image-play">
                  <img src="images/dichvunhahang_sangtrong.jpg" alt="" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Nhà hàng khách sạn</a></h2>
              <span class="mb-3 d-block post-date">Ngày 28 tháng 5 năm 2019 &bullet; By <a href="#">Đông BK</a></span>
              <p>Nhà hàng tại tầng 12 với sức chứa 100 khách, là nơi hội tụ văn hóa ẩm thực đặc sản ba miền Nam -Trung - Bắc, là nơi lý tưởng để thưởng thức các món ăn nổi tiếng Á –Âu và đặc biệt là những món hải sản tươi ngon. Phù hợp với đặt cơm và tIệc.Với đội ngũ nhân viên chuyên nghiệp và thân thiện, đến với nhà hàng khách sạn BKHust, quý khách sẽ được cảm nhận sự ấm cúng và sang trọng.<br><strong>Giá phòng: LIÊN HỆ</strong></p>
              <textarea style="width:100%; height:auto;" placeholder="Ý kiến đánh giá"></textarea>
              <p><a href="#" class="btn btn-primary pill text-white px-4" style="margin-left:276px; background:#03F;">Gửi</a></p>
               <p><a href="#" class="btn btn-primary pill text-white px-4">Đặt ngay</a></p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="media-with-text">
              <div class="img-border-sm mb-4">
                <a href="#" class="popup-vimeo image-play">
                  <img src="images/quaybar.jpg" alt="" class="img-fluid">
                </a>
              </div>
              <h1 class="heading mb-0"><a href="#">Quầy bar</a></h1>
              <span class="mb-3 d-block post-date">Ngày 28 tháng 5 năm 2019 &bullet; By <a href="#">Đông BK</a></span>
              <p><strong>Quầy Bar Front:</strong><br>Được thiết kế ngay tầng 1, gần lối vào tiền sảnh có các của sổ lớn nhìn ra sân vườn, du khách có thể dùng ngay 1 ly bia sau chuyến hành trình tham quan, ngoài ra để du khách có trang bị thêm kiến thức ẩm thực của mình, chúng tôi có mở khóa học nấu các món ăn nổi tiếng của Việt Nam khách sạn tổ chức.<br><strong>Quầy Bar poolside:</strong><br>Được thiết kế ngay giửa trung tâm hồ bơi lớn, Bar poolside là nơi thực sự lý tưởng, tại đây du khách có thể dùng các loại thức uống như: cocktail, pizza và paster của Ý, các món ăn nhẹ và có thể cùng nô đùa với làn nước mát lạnh tại hồ bơi.<br><strong>Giá: LIÊN HỆ</strong></p>
              <textarea style="width:100%; height:auto;" placeholder="Ý kiến đánh giá"></textarea>
              <p><a href="#" class="btn btn-primary pill text-white px-4" style="margin-left:276px; background:#03F;">Gửi</a></p>
              <p><a href="#" class="btn btn-primary pill text-white px-4">Đặt ngay</a></p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="media-with-text">
              <div class="img-border-sm mb-4">
                <a href="#" class="popup-vimeo image-play">
                  <img src="images/karaoke.jpg" alt="" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Karaoke</a></h2>
              <span class="mb-3 d-block post-date">Ngày 28 tháng 5 năm 2019 &bullet; By <a href="#">Đông BK</a></span>
              <p>Khách sạn BKHust cung cấp dịch vụ karaoke VIP ngay tại tầng 11. Phòng hát được thiết kế sang trọng và tiện nghi. Hệ thống âm thanh ánh sáng đạt tiêu chuẩn quốc tế sẽ mang đến cho Quý khách không gian giải trí sôi động hấp dẫn. Nơi đây rất thích hợp để tổ chức các buổi gặp gỡ bạn bè, tổ chức sinh nhật, liên hoan gặp mặt..... Thời gian mở cửa: 9h00-23h00<br><strong>Giá phòng: LIÊN HỆ</strong></p>
              <textarea style="width:100%; height:auto;" placeholder="Ý kiến đánh giá"></textarea>
              <p><a href="#" class="btn btn-primary pill text-white px-4" style="margin-left:276px; background:#03F;">Gửi</a></p>
               <p><a href="#" class="btn btn-primary pill text-white px-4">Đặt ngay</a></p>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="media-with-text">
              <div class="img-border-sm mb-4">
                <a href="#" class="popup-vimeo image-play">
                  <img src="images/beboi4mua.jpg" alt="" class="img-fluid">
                </a>
              </div>
              <h1 class="heading mb-0"><a href="#">Bể bơi bốn mùa</a></h1>
              <span class="mb-3 d-block post-date">Ngày 28 tháng 5 năm 2019 &bullet; By <a href="#">Đông BK</a></span>
              <p>Bể bơi khách sạn BKHust thuộc loại bể bơi bốn mùa trong nhà luôn mát mẻ về mùa hè, ấm nóng về mùa đông. Nhờ có mái che và nhiệt độ nước luôn được điều chỉnh phù hợp theo mùa, quý khách hoàn toàn an tâm bơi lội vào bất cứ thời điểm nào trong năm kể cả vào mùa đông khi hầu hết các bể bơi khác đều đóng cửa .<br>Đến với bể bơi khách sạn BKHust, bạn hoàn toàn yên tâm vì nước được bổ sung, thay mới hàng ngày và không sử dụng hóa chất gây hại làm trong nước nên có thể thỏa thích ngâm mình và bơi lội nhiều giờ liên tục mà không sợ bị hư hại da, tóc.<br><strong>Giá vé: 90.000đ/ vé</strong></p>
              <textarea style="width:100%; height:auto;" placeholder="Ý kiến đánh giá"></textarea>
              <p><a href="#" class="btn btn-primary pill text-white px-4" style="margin-left:276px; background:#03F;">Gửi</a></p>
               <p><a href="#" class="btn btn-primary pill text-white px-4">Đặt ngay</a></p>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="media-with-text">
              <div class="img-border-sm mb-4">
                <a href="#" class="popup-vimeo image-play">
                  <img src="images/phonggym.jpg" alt="" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Phòng gym</a></h2>
              <span class="mb-3 d-block post-date">Ngày 28 tháng 5 năm 2019 &bullet; By <a href="#">Đông BK</a></span>
              <p>Để chuyến đi nghỉ dưỡng của bạn thật thỏa mái mà vẫn đảm bảo được nhu cầu rèn luyện sức khỏe mỗi ngày. BKHust Hotel đặc biệt chú trọng thiết kế phòng tập thể dục, thể hình ngay bên trên. Khu phòng tập gây ấn tượng mạnh bởi không gian rộng rãi, sang trọng, được trang bị máy tập, dụng cụ tập hiện đại, có huấn luyện viên chuyên nghiệp hướng dẫn đi kèm. Với dịch vụ phòng tập hoàn thiện, chúng tôi mong muốn được chăm sóc quý khách từ tinh thần tới thể chất một cách chu đáo và tận tụy nhất<br><strong>Giá phòng: 120.000đ/ một đêm</strong></p>
              <textarea style="width:100%; height:auto;" placeholder="Ý kiến đánh giá"></textarea>
              <p><a href="#" class="btn btn-primary pill text-white px-4" style="margin-left:276px; background:#03F;">Gửi</a></p>
               <p><a href="#" class="btn btn-primary pill text-white px-4">Đặt ngay</a></p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="media-with-text">
              <div class="img-border-sm mb-4">
                <a href="#" class="popup-vimeo image-play">
                  <img src="images/dichvuspa.jpg" alt="" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Dịch vụ Spa</a></h2>
              <span class="mb-3 d-block post-date">Ngày 28 tháng 5 năm 2019 &bullet; By <a href="#">Đông BK</a></span>
              <p>Có thể nói Spa được ví như một ốc đảo để con người có thể ẩn mình giây lát, tận hưởng những phút giây thư giãn, nghỉ ngơi, chăm sóc cơ thể mà khách hàng có thể trải nghiệm trong một khoảng thời gian ngắn từ 1 – 2 tiếng vào bất kỳ thời điểm nào trong ngày.<br>Chính vì vậy, với những khách sạn nào mà có tặng kèm dịch vụ Spa khi đặt phòng thì sẽ thu hút được nhiều du khách đến và sử dụng dich vụ của khách sạn.<br><strong>Giá: 100.000đ/người</strong></p>
              <textarea style="width:100%; height:auto;" placeholder="Ý kiến đánh giá"></textarea>
              <p><a href="#" class="btn btn-primary pill text-white px-4" style="margin-left:276px; background:#03F;">Gửi</a></p>
               <p><a href="#" class="btn btn-primary pill text-white px-4">Đặt ngay</a></p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="media-with-text">
              <div class="img-border-sm mb-4">
                <a href="#" class="popup-vimeo image-play">
                  <img src="images/dvu_giatui.jpg" alt="" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Dịch vụ giặt ủi</a></h2>
              <span class="mb-3 d-block post-date">Ngày 28 tháng 5 năm 2019 &bullet; By <a href="#">Đông BK</a></span>
              <p>Dịch vụ giặt ủi BKHust là dịch vụ giặt sấy áo quần hàng đầu tại Bắc Ninh. Hằng ngày hệ thống của Green BKHust đón hàng trăm lượt khách hàng ghé đến sử dụng dịch vụ giặt ủi. Tất cả khách hàng mà BKHust hỏi thăm, đa số họ đều quan tâm đến chất lượng dịch vụ để đảm bảo sức khỏe, an toàn cho da, giặt áo quần sạch và thơm.<br><strong>Giá thuê: 20.000đ/1kg</strong></p>
              <textarea style="width:100%; height:auto;" placeholder="Ý kiến đánh giá"></textarea>
              <p><a href="#" class="btn btn-primary pill text-white px-4" style="margin-left:276px; background:#03F;">Gửi</a></p>
               <p><a href="datphong" class="btn btn-primary pill text-white px-4">Đặt ngay</a></p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="media-with-text">
              <div class="img-border-sm mb-4">
                <a href="#" class="popup-vimeo image-play">
                  <img src="images/chothuexe.jpg" alt="" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Thuê xe</a></h2>
              <span class="mb-3 d-block post-date">Ngày 28 tháng 5 năm 2019 &bullet; By <a href="#">Đông BK</a></span>
              <p>Mong muốn mang lại cho du khách một kỳ nghỉ hoàn hảo, Khách sạn BKHust còn cung cấp cho khách hàng dịch vụ đưa - đón đặc biệt tại sân bay. Với dịch vụ này, khách hàng không chỉ tránh được những phiền hà, lo lắng trong việc chờ đợi taxi hay những phương tiện vận chuyển thuê ngoài mà còn có cảm giác được chào mừng, được chăm sóc như một thượng khách ngay từ khi đặt chân tới Bắc Ninh.

Ngoài ra, Khách sạn BKHust cũng cho thuê xe đưa đón khách hàng từ Bắc Ninh đi các tỉnh lân cận. Chi tiết vui lòng liên hệ tại Quầy Lễ tân của khách sạn.<br><strong>Giá thuê: LIÊN HỆ</strong></p>
              <textarea style="width:100%; height:auto;" placeholder="Ý kiến đánh giá"></textarea>
              <p><a href="#" class="btn btn-primary pill text-white px-4" style="margin-left:276px; background:#03F;">Gửi</a></p>
               <p><a href="#" class="btn btn-primary pill text-white px-4">Đặt ngay</a></p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="media-with-text">
              <div class="img-border-sm mb-4">
                <a href="#" class="popup-vimeo image-play">
                  <img src="images/dichvuhoihhhop.jpg" alt="" class="img-fluid">
                </a>
              </div>
              <h1 class="heading mb-0"><a href="#">Dịch vụ hội nghị</a></h1>
              <span class="mb-3 d-block post-date">Ngày 28 tháng 5 năm 2019 &bullet; By <a href="#">Đông BK</a></span>
              <p>Máy tính của khách sạn đặt tại quầy giúp bạn kết nối và cập nhật hành trình cho bạn bè và gia đình, giải quyết các công việc cần gấp hoặc đơn giản là lướt web đọc tin tức. Chúng tôi cũng cung cấp dịch vụ khác như gửi / nhận fax, in ấn/ photo tài liệu, vv.<br>- Internet<br>- In ấn<br>- Photocopy<br>- Scan tài liệu<br>- Fax (trong nước và quốc tế)<br>- Dịch vụ điện thoại (trong nước và quốc tế)<br>Địa điểm: tầng trệt <br>Thời gian phục vụ: 24/24<br><strong>Giá phòng: LIÊN HỆ</strong></p>
              <textarea style="width:100%; height:auto;" placeholder="Ý kiến đánh giá"></textarea>
              <p><a href="#" class="btn btn-primary pill text-white px-4" style="margin-left:276px; background:#03F;">Gửi</a></p>
              <p><a href="#" class="btn btn-primary pill text-white px-4">Đặt ngay</a></p>
            </div>
          </div>
        </div>
</div>
        <div class="row mt-5">
          <div class="col-md-12 text-center">
            <div class="site-block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
    


    
    <%- include('footer.ejs') %>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/aos.js"></script>

  
  <script src="js/mediaelement-and-player.min.js"></script>

  <script src="js/main.js"></script>
    

  <script>
      document.addEventListener('DOMContentLoaded', function() {
                var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;

                for (var i = 0; i < total; i++) {
                    new MediaElementPlayer(mediaElements[i], {
                        pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                        shimScriptAccess: 'always',
                        success: function () {
                            var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
                            for (var j = 0; j < targetTotal; j++) {
                                target[j].style.visibility = 'visible';
                            }
                  }
                });
                }
            });
    </script>

  </body>
</html>