<footer class="site-footer">
    <div class="container">
      

      <div class="row">
        <div class="col-md-4">
          <h3 class="footer-heading mb-4 text-white">Thông tin</h3>
          <p>BK Hust cung cấp các tiện nghi 5 sao như hồ bơi lớn ngoài trời và trung tâm thể dục cũng như các phòng nghỉ trang nhãKhách sạn có 5 lựa chọn ăn uống, Wi-Fi miễn phí và chỗ đỗ xe miễn phí...</p>
          <p><a href="#" class="btn btn-primary pill text-white px-4">Đọc thêm</a></p>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <h3 class="footer-heading mb-4 text-white">Menu nhanh</h3>
                <ul class="list-unstyled">
                  <li><a href="#">Về chúng tôi</a></li>
                  <li><a href="#">Dịch vụ</a></li>
                  <li><a href="#">Liên hệ</a></li>
                  <li><a href="#">Trợ giúp</a></li>
                  <li><a href="#">Tin tức</a></li>
                  <li><a href="#">Khuyến mãi</a></li>
                </ul>
            </div>
            <div class="col-md-6">
              <h3 class="footer-heading mb-4 text-white">Khác</h3>
                <ul class="list-unstyled">
                  <li><a href="#">Tiếp cận</a></li>
                  <li><a href="#">Tuyển dụng</a></li>
                  <li><a href="#">Đối tác</a></li>
                  <li><a href="#">Chính sách</a></li>
                  <li><a href="#">Điều khoản</a></li>
                </ul>
            </div>
          </div>
        </div>

        
        <div class="col-md-2">
          <div class="col-md-12"><h3 class="footer-heading mb-4 text-white">Theo dõi chúng tôi trên</h3></div>
            <div class="col-md-12">
              <p>
                <a href="#" class="pb-2 pr-2 pl-0"><span class="icon-facebook"></span></a>
                <a href="#" class="p-2"><span class="icon-twitter"></span></a>
                <a href="#" class="p-2"><span class="icon-instagram"></span></a>
                <a href="#" class="p-2"><span class="icon-vimeo"></span></a>

              </p>
            </div>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy; <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> 
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
        
      </div>
    </div>
  </footer>